@page
@model LogoutModel

@{
       ViewData["Title"] = "Log out";
}
<script src="~/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="~/js/moment.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>

<link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="~/css/sb-admin-2.css" rel="stylesheet">
@*<h2>@ViewData["Title"]</h2>*@
<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        @*<div class="col-lg-6 d-none d-lg-block bg-login-image">



                        </div>*@
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-left">
                                    <h1 class="h4 text-gray-900 mb-4">Dept. of O & T PWH / Scoliosis Clinical Summary </h1>
                                </div>

                                <div class="text-left">
                                    <h6 class="text-gray-900 mb-4">
                                        Prince of Wales Hospital Department of Orthopaedics &
                                        Traumatology Scoliosis Clinical Summary  Database System
                                    </h6>
                                </div>


                                <section>
                                    <h4>You have successfully logged out of the application. </h4>

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                    </ul>
                                </section>

                                <hr>


                                <div class="text-left">
                                    @*<div class="small">


                                        Please use Internet Explorer 4.0 or above<br>
                                        This System is Constructed by<br>
                                        1) Department of Orthopaedics and Traumatology, CUHK<br>
                                        2) Department of Computer Science and Engineering, CUHK<br>
                                        1999-2013<br>
                                        <br>
                                        System Version 4.0<br>
                                        Last Updated: 1/11/2013


                                    </div>*@

                                </div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
